<div class="row">
    <section class="main col-md-9">
        <article>
            <h2>About</h2>
            <p>Hello, My name is Sanam Ghale and I am a student at Seneca College. I like to play sports and travel around the world. I inspire to be a programmer.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum tempore, incidunt accusamus cum, quis consectetur dolorem maxime quisquam sed deserunt inventore nobis illum saepe enim delectus cumque consequuntur corrupti ab.</p>
        </article>
    </section>
    <aside class="col-md-3">
        <h2>Coming Soon</h2>
        <p>Stay tuned for more updates...</p>
    </aside>
</div>